@model SoldierMgtSys.Models.AddDeploymentViewModel;

@{
    Layout = "_AdminLayout";
}

<form method="post" action="Add">


    <div class="mb-3">
        <label for="" class="form-label">Deployment Location: </label>
        <input type="text" class="form-control" asp-for="DeploymentLocation">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Start Date: </label>
        <input type="date" class="form-control" asp-for="DeploymentStartDate">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">End Date: </label>
        <input type="date" class="form-control" asp-for="DeploymentEndDate">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Soldier ID: </label>
        <input type="number" class="form-control" asp-for="SoldierId">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>